:root{
    --primary-100: #ff33cc;
    --primary-200: #ff72ff;
    --primary-300: #ffe1ff;
}
/* body{
  background-color: black;
} */
nav{
  position: fixed;
  width: 100%;
  height: 3em;
  border-bottom: 1px solid var(--primary-100);
  animation: Nav-animation 5s ease-in-out infinite;
}


@keyframes Nav-animation {
  0%, 50%, 100% {
    box-shadow: 0 0 5px var(--primary-100);
  }
  25%, 75% {
    box-shadow: 0 0 8px var(--primary-100);
  }
}
.containerNav{
background:url("./Images/background-diagonal-lines.jpg") center /cover no-repeat;
height: 100vh;
}