:root {
  --primary-100: #ff33cc;
  --primary-200: #ff72ff;
  --primary-300: #ffe1ff;
}

.wrapper {
  background: url("./Images/background-diagonal-lines.jpg") center / cover no-repeat;
  height: 100vh;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  border-bottom: 1px solid var(--primary-100);
  animation: Nav-animation 5s ease-in-out infinite;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.nameText h1 {
  font-size: 3.5rem;
  text-shadow: 1px 2px 1px var(--primary-300), -1px -2px 1px var(--primary-100);
  margin: 0;
}

.nameText {
  margin-left: 12px;
}

.nameText h2 {
  color: var(--primary-100);
  text-shadow: 0 0 10px var(--primary-100);
  margin-left: 3px;
}

.li-navBar {
  list-style: none;
  font-size: 1.6rem;
  color: var(--primary-100);
}

.li-navBar a {
  text-decoration: none;
  color: var(--primary-300);
}

.ulNav {
  width: 100vw;
}

.wrapper button {
  background-color: transparent;
  color: white;
  width: 50px;
  margin-right: 0px;

}

@keyframes Nav-animation {

  0%,
  50%,
  100% {
    box-shadow: 0 0 5px var(--primary-100);
  }

  25%,
  75% {
    box-shadow: 0 0 8px var(--primary-100);
  }
}


.btn-content {
  top: 3em;
  right: 0;
  position: absolute;
  background-color: #ff33cc;
  width: 200px;
}

.ContactContainer {

  width: 200px;
  height: 100px;
  margin-top: 2em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;

}

.ContactContainer>a {
  text-decoration: none;
  color: var(--primary-300);
  text-align: center;
}

.ContactContainer>a>i:hover {
  margin-top: -4px;
  color: #ff33cc;
}

.arrow {
  color: var(--primary-100);
  width: 50px;
  animation: arrow-animation 5s ease-in-out infinite;
}

@keyframes arrow-animation {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }
}